.contenido_principal {
    flex: 1;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 0px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.form-container {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 20px; /* Hace que el formulario sea flotante mientras se hace scroll */
}
.questions-container {
    width: 65%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.question {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.question:last-child {
    border-bottom: none;
}
.question h4 {
    margin: 0;
    font-size: 18px;
    color: #333;
}
.question p {
    margin: 5px 0;
    color: #555;
}
.question small {
    color: #888;
}
.contenedor_login{
    background-color: black;    
    padding: 1%;
    text-align: end;
}
a {
    text-decoration: none;    
}
.login_item{
    color:#f4f4f4;
    font-size:1.5rem ;    
}

.login_item:hover {
    color: #482ff7;
  }
  
.formulario_login{
    background-color: #7ECBEA;
    padding: 2%;

}
.formulario_login form{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #181717;
    font-size: 2rem;
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 15%;

}