.contenedor_login .datos {
    position: relative;
  }

  .contenedor_login {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(235, 181, 102, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contenedor_login h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #130a0a;
    text-align: center;
}

.contenedor_login .datos input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .contenedor_login .datos label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  
  .contenedor_login form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }


.caja_login {
    display: flex;
    gap: 100px;
    align-items: center;
}


.login_form {
    flex: 1;
}

.imagen_login img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    
}